# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?


pnpm-lock.yaml
yarn.lock
package-lock.json
bun.lockb
.qodo

#pages
Administrador.tsx
area.tsx
Elementos.tsx
fichas.tsx
Inicio.tsx
inicioSesion.tsx
Movimientos.tsx
Municipios.tsx
Permisos.tsx
programas.tsx
Registrarse.tsx
Reportes.tsx
Roles.tsx
Sitios
TipoMaterial.tsx
TipoMovimiento.tsx
TiposSitio.tsx
Usuario.tsx

